---
import BaseLayout from '@/layouts/BaseLayout.astro'

const pageTitle = 'About Me'
const identify = {
  firstName: 'imaimai',
  country: 'japan',
  occupation: 'Frontend Developer',
  hobbies: ['cooking', 'developing', 'watching streaming'],
}
const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Nest.js', 'Astro']
---

<BaseLayout pageTitle={pageTitle}>
  <h2>with My Astro Site !</h2>
  <p>
    I am working on an introductory tutorial for Astro. This is the second page on my website and the first page I have
    created myself!
  </p>
  <p>My Profile</p>
  <ul>
    <li>Name: {identify.firstName}</li>
    <li>Country: {identify.country}</li>
    <li>Occupation: {identify.occupation}</li>
    <li>Hobbies: {identify.hobbies.map((hobby) => <span>{hobby} / </span>)}</li>
  </ul>
  <p>My Skills</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
